{% extends 'base.html' %}

{% block title %}Choose Your Desired Location and Category{% endblock %}

{% block content %}
<form method="POST">
    <label for="city">Choose a city:</label>
    <select name="city" id="city">
        <option value="auburn">auburn</option>
        <option value="bham">birmingham</option>
        <option value="dothan">dothan</option>
        <option value="shoals">florence muscle shoals</option>
        <option value="gadsden">gadsdenanniston</option>
        <option value="huntsville">huntsville decatur</option>
        <option value="mobile">mobile</option>
        <option value="montgomery">montgomery</option>
        <option value="tuscaloosa">tuscaloosa</option>
        <option value="anchorage">anchorage matsu</option>
        <option value="fairbanks">fairbanks</option>
        <option value="kenai">kenai peninsula</option>
        <option value="juneau">southeast alaska</option>
        <option value="flagstaff">flagstaff sedona</option>
        <option value="mohave">mohave county</option>
        <option value="phoenix">phoenix</option>
        <option value="prescott">prescott</option>
        <option value="showlow">show low</option>
        <option value="sierravista">sierra vista</option>
        <option value="tucson">tucson</option>
        <option value="yuma">yuma</option>
        <option value="fayar">fayetteville</option>
        <option value="fortsmith">fort smith</option>
        <option value="jonesboro">jonesboro</option>
        <option value="littlerock">little rock</option>
        <option value="texarkana">texarkana</option>
        <option value="bakersfield">bakersfield</option>
        <option value="chico">chico</option>
        <option value="fresno">fresno madera</option>
        <option value="goldcountry">gold country</option>
        <option value="hanford">hanfordcorcoran</option>
        <option value="humboldt">humboldt county</option>
        <option value="imperial">imperial county</option>
        <option value="inlandempire">inland empire</option>
        <option value="losangeles">los angeles</option>
        <option value="mendocino">mendocino county</option>
        <option value="merced">merced</option>
        <option value="modesto">modesto</option>
        <option value="monterey">monterey bay</option>
        <option value="orangecounty">orange county</option>
        <option value="palmsprings">palm springs</option>
        <option value="redding">redding</option>
        <option value="sacramento">sacramento</option>
        <option value="sandiego">san diego</option>
        <option value="sfbay">san francisco bay area</option>
        <option value="slo">san luis obispo</option>
        <option value="santabarbara">santa barbara</option>
        <option value="santamaria">santa maria</option>
        <option value="siskiyou">siskiyou county</option>
        <option value="stockton">stockton</option>
        <option value="susanville">susanville</option>
        <option value="ventura">ventura county</option>
        <option value="visalia">visaliatulare</option>
        <option value="yubasutter">yubasutter</option>
        <option value="boulder">boulder</option>
        <option value="cosprings">colorado springs</option>
        <option value="denver">denver</option>
        <option value="eastco">eastern CO</option>
        <option value="fortcollins">fort collins north CO</option>
        <option value="rockies">high rockies</option>
        <option value="pueblo">pueblo</option>
        <option value="westslope">western slope</option>
        <option value="newlondon">eastern CT</option>
        <option value="hartford">hartford</option>
        <option value="newhaven">new haven</option>
        <option value="nwct">northwest CT</option>
        <option value="delaware">delaware</option>
        <option value="washingtondc">washington</option>
        <option value="daytona">daytona beach</option>
        <option value="keys">florida keys</option>
        <option value="fortlauderdale">fort lauderdale</option>
        <option value="fortmyers">ft myers SW florida</option>
        <option value="gainesville">gainesville</option>
        <option value="cfl">heartland florida</option>
        <option value="jacksonville">jacksonville</option>
        <option value="lakeland">lakeland</option>
        <option value="lakecity">north central FL</option>
        <option value="ocala">ocala</option>
        <option value="okaloosa">okaloosa walton</option>
        <option value="orlando">orlando</option>
        <option value="panamacity">panama city</option>
        <option value="pensacola">pensacola</option>
        <option value="sarasota">sarasotabradenton</option>
        <option value="miami">south florida</option>
        <option value="spacecoast">space coast</option>
        <option value="staugustine">st augustine</option>
        <option value="tallahassee">tallahassee</option>
        <option value="tampa">tampa bay area</option>
        <option value="treasure">treasure coast</option>
        <option value="albanyga">albany</option>
        <option value="athensga">athens</option>
        <option value="atlanta">atlanta</option>
        <option value="augusta">augusta</option>
        <option value="brunswick">brunswick</option>
        <option value="columbusga">columbus</option>
        <option value="macon">macon warner robins</option>
        <option value="nwga">northwest GA</option>
        <option value="savannah">savannah hinesville</option>
        <option value="statesboro">statesboro</option>
        <option value="valdosta">valdosta</option>
        <option value="honolulu">hawaii</option>
        <option value="boise">boise</option>
        <option value="eastidaho">east idaho</option>
        <option value="lewiston">lewiston clarkston</option>
        <option value="twinfalls">twin falls</option>
        <option value="bn">bloomingtonnormal</option>
        <option value="chambana">champaign urbana</option>
        <option value="chicago">chicago</option>
        <option value="decatur">decatur</option>
        <option value="lasalle">la salle co</option>
        <option value="mattoon">mattooncharleston</option>
        <option value="peoria">peoria</option>
        <option value="rockford">rockford</option>
        <option value="carbondale">southern illinois</option>
        <option value="springfieldil">springfield</option>
        <option value="quincy">western IL</option>
        <option value="bloomington">bloomington</option>
        <option value="evansville">evansville</option>
        <option value="fortwayne">fort wayne</option>
        <option value="indianapolis">indianapolis</option>
        <option value="kokomo">kokomo</option>
        <option value="tippecanoe">lafayette west lafayette</option>
        <option value="muncie">muncie anderson</option>
        <option value="richmondin">richmond</option>
        <option value="southbend">south bend michiana</option>
        <option value="terrehaute">terre haute</option>
        <option value="ames">ames</option>
        <option value="cedarrapids">cedar rapids</option>
        <option value="desmoines">des moines</option>
        <option value="dubuque">dubuque</option>
        <option value="fortdodge">fort dodge</option>
        <option value="iowacity">iowa city</option>
        <option value="masoncity">mason city</option>
        <option value="quadcities">quad cities</option>
        <option value="siouxcity">sioux city</option>
        <option value="ottumwa">southeast IA</option>
        <option value="waterloo">waterloo cedar falls</option>
        <option value="lawrence">lawrence</option>
        <option value="ksu">manhattan</option>
        <option value="nwks">northwest KS</option>
        <option value="salina">salina</option>
        <option value="seks">southeast KS</option>
        <option value="swks">southwest KS</option>
        <option value="topeka">topeka</option>
        <option value="wichita">wichita</option>
        <option value="bgky">bowling green</option>
        <option value="eastky">eastern kentucky</option>
        <option value="lexington">lexington</option>
        <option value="louisville">louisville</option>
        <option value="owensboro">owensboro</option>
        <option value="westky">western KY</option>
        <option value="batonrouge">baton rouge</option>
        <option value="cenla">central louisiana</option>
        <option value="houma">houma</option>
        <option value="lafayette">lafayette</option>
        <option value="lakecharles">lake charles</option>
        <option value="monroe">monroe</option>
        <option value="neworleans">new orleans</option>
        <option value="shreveport">shreveport</option>
        <option value="maine">maine</option>
        <option value="annapolis">annapolis</option>
        <option value="baltimore">baltimore</option>
        <option value="easternshore">eastern shore</option>
        <option value="frederick">frederick</option>
        <option value="smd">southern maryland</option>
        <option value="westmd">western maryland</option>
        <option value="boston">boston</option>
        <option value="capecod">cape cod islands</option>
        <option value="southcoast">south coast</option>
        <option value="westernmass">western massachusetts</option>
        <option value="worcester">worcester central MA</option>
        <option value="annarbor">ann arbor</option>
        <option value="battlecreek">battle creek</option>
        <option value="centralmich">central michigan</option>
        <option value="detroit">detroit metro</option>
        <option value="flint">flint</option>
        <option value="grandrapids">grand rapids</option>
        <option value="holland">holland</option>
        <option value="jxn">jackson</option>
        <option value="kalamazoo">kalamazoo</option>
        <option value="lansing">lansing</option>
        <option value="monroemi">monroe</option>
        <option value="muskegon">muskegon</option>
        <option value="nmi">northern michigan</option>
        <option value="porthuron">port huron</option>
        <option value="saginaw">saginawmidlandbaycity</option>
        <option value="swmi">southwest michigan</option>
        <option value="thumb">the thumb</option>
        <option value="up">upper peninsula</option>
        <option value="bemidji">bemidji</option>
        <option value="brainerd">brainerd</option>
        <option value="duluth">duluth superior</option>
        <option value="mankato">mankato</option>
        <option value="minneapolis">minneapolis st paul</option>
        <option value="rmn">rochester</option>
        <option value="marshall">southwest MN</option>
        <option value="stcloud">st cloud</option>
        <option value="gulfport">gulfport biloxi</option>
        <option value="hattiesburg">hattiesburg</option>
        <option value="jackson">jackson</option>
        <option value="meridian">meridian</option>
        <option value="northmiss">north mississippi</option>
        <option value="natchez">southwest MS</option>
        <option value="columbiamo">columbia jeff city</option>
        <option value="joplin">joplin</option>
        <option value="kansascity">kansas city</option>
        <option value="kirksville">kirksville</option>
        <option value="loz">lake of the ozarks</option>
        <option value="semo">southeast missouri</option>
        <option value="springfield">springfield</option>
        <option value="stjoseph">st joseph</option>
        <option value="stlouis">st louis</option>
        <option value="billings">billings</option>
        <option value="bozeman">bozeman</option>
        <option value="butte">butte</option>
        <option value="greatfalls">great falls</option>
        <option value="helena">helena</option>
        <option value="kalispell">kalispell</option>
        <option value="missoula">missoula</option>
        <option value="montana">eastern montana</option>
        <option value="grandisland">grand island</option>
        <option value="lincoln">lincoln</option>
        <option value="northplatte">north platte</option>
        <option value="omaha">omaha council bluffs</option>
        <option value="scottsbluff">scottsbluff panhandle</option>
        <option value="elko">elko</option>
        <option value="lasvegas">las vegas</option>
        <option value="reno">reno tahoe</option>
        <option value="nh">new hampshire</option>
        <option value="cnj">central NJ</option>
        <option value="jerseyshore">jersey shore</option>
        <option value="newjersey">north jersey</option>
        <option value="southjersey">south jersey</option>
        <option value="albuquerque">albuquerque</option>
        <option value="clovis">clovis portales</option>
        <option value="farmington">farmington</option>
        <option value="lascruces">las cruces</option>
        <option value="roswell">roswell carlsbad</option>
        <option value="santafe">santa fe taos</option>
        <option value="albany">albany</option>
        <option value="binghamton">binghamton</option>
        <option value="buffalo">buffalo</option>
        <option value="catskills">catskills</option>
        <option value="chautauqua">chautauqua</option>
        <option value="elmira">elmiracorning</option>
        <option value="fingerlakes">finger lakes</option>
        <option value="glensfalls">glens falls</option>
        <option value="hudsonvalley">hudson valley</option>
        <option value="ithaca">ithaca</option>
        <option value="longisland">long island</option>
        <option value="newyork">new york city</option>
        <option value="oneonta">oneonta</option>
        <option value="plattsburgh">plattsburghadirondacks</option>
        <option value="potsdam">potsdamcantonmassena</option>
        <option value="rochester">rochester</option>
        <option value="syracuse">syracuse</option>
        <option value="twintiers">twin tiers NYPA</option>
        <option value="utica">uticaromeoneida</option>
        <option value="watertown">watertown</option>
        <option value="asheville">asheville</option>
        <option value="boone">boone</option>
        <option value="charlotte">charlotte</option>
        <option value="eastnc">eastern NC</option>
        <option value="fayetteville">fayetteville</option>
        <option value="greensboro">greensboro</option>
        <option value="hickory">hickory lenoir</option>
        <option value="onslow">jacksonville</option>
        <option value="outerbanks">outer banks</option>
        <option value="raleigh">raleigh durham CH</option>
        <option value="wilmington">wilmington</option>
        <option value="winstonsalem">winstonsalem</option>
        <option value="bismarck">bismarck</option>
        <option value="fargo">fargo moorhead</option>
        <option value="grandforks">grand forks</option>
        <option value="nd">north dakota</option>
        <option value="akroncanton">akron canton</option>
        <option value="ashtabula">ashtabula</option>
        <option value="athensohio">athens</option>
        <option value="chillicothe">chillicothe</option>
        <option value="cincinnati">cincinnati</option>
        <option value="cleveland">cleveland</option>
        <option value="columbus">columbus</option>
        <option value="dayton">dayton springfield</option>
        <option value="limaohio">lima findlay</option>
        <option value="mansfield">mansfield</option>
        <option value="sandusky">sandusky</option>
        <option value="toledo">toledo</option>
        <option value="tuscarawas">tuscarawas co</option>
        <option value="youngstown">youngstown</option>
        <option value="zanesville">zanesville cambridge</option>
        <option value="lawton">lawton</option>
        <option value="enid">northwest OK</option>
        <option value="oklahomacity">oklahoma city</option>
        <option value="stillwater">stillwater</option>
        <option value="tulsa">tulsa</option>
        <option value="bend">bend</option>
        <option value="corvallis">corvallisalbany</option>
        <option value="eastoregon">east oregon</option>
        <option value="eugene">eugene</option>
        <option value="klamath">klamath falls</option>
        <option value="medford">medfordashland</option>
        <option value="oregoncoast">oregon coast</option>
        <option value="portland">portland</option>
        <option value="roseburg">roseburg</option>
        <option value="salem">salem</option>
        <option value="altoona">altoonajohnstown</option>
        <option value="chambersburg">cumberland valley</option>
        <option value="erie">erie</option>
        <option value="harrisburg">harrisburg</option>
        <option value="lancaster">lancaster</option>
        <option value="allentown">lehigh valley</option>
        <option value="meadville">meadville</option>
        <option value="philadelphia">philadelphia</option>
        <option value="pittsburgh">pittsburgh</option>
        <option value="poconos">poconos</option>
        <option value="reading">reading</option>
        <option value="scranton">scranton wilkesbarre</option>
        <option value="pennstate">state college</option>
        <option value="williamsport">williamsport</option>
        <option value="york">york</option>
        <option value="providence">rhode island</option>
        <option value="charleston">charleston</option>
        <option value="columbia">columbia</option>
        <option value="florencesc">florence</option>
        <option value="greenville">greenville upstate</option>
        <option value="hiltonhead">hilton head</option>
        <option value="myrtlebeach">myrtle beach</option>
        <option value="nesd">northeast SD</option>
        <option value="csd">pierre central SD</option>
        <option value="rapidcity">rapid city west SD</option>
        <option value="siouxfalls">sioux falls SE SD</option>
        <option value="sd">south dakota</option>
        <option value="chattanooga">chattanooga</option>
        <option value="clarksville">clarksville</option>
        <option value="cookeville">cookeville</option>
        <option value="jacksontn">jackson</option>
        <option value="knoxville">knoxville</option>
        <option value="memphis">memphis</option>
        <option value="nashville">nashville</option>
        <option value="tricities">tricities</option>
        <option value="abilene">abilene</option>
        <option value="amarillo">amarillo</option>
        <option value="austin">austin</option>
        <option value="beaumont">beaumont port arthur</option>
        <option value="brownsville">brownsville</option>
        <option value="collegestation">college station</option>
        <option value="corpuschristi">corpus christi</option>
        <option value="dallas">dallas fort worth</option>
        <option value="nacogdoches">deep east texas</option>
        <option value="delrio">del rio eagle pass</option>
        <option value="elpaso">el paso</option>
        <option value="galveston">galveston</option>
        <option value="houston">houston</option>
        <option value="killeen">killeen temple ft hood</option>
        <option value="laredo">laredo</option>
        <option value="lubbock">lubbock</option>
        <option value="mcallen">mcallen edinburg</option>
        <option value="odessa">odessa midland</option>
        <option value="sanangelo">san angelo</option>
        <option value="sanantonio">san antonio</option>
        <option value="sanmarcos">san marcos</option>
        <option value="bigbend">southwest TX</option>
        <option value="texoma">texoma</option>
        <option value="easttexas">tyler east TX</option>
        <option value="victoriatx">victoria</option>
        <option value="waco">waco</option>
        <option value="wichitafalls">wichita falls</option>
        <option value="logan">logan</option>
        <option value="ogden">ogdenclearfield</option>
        <option value="provo">provo orem</option>
        <option value="saltlakecity">salt lake city</option>
        <option value="stgeorge">st george</option>
        <option value="vermont">vermont</option>
        <option value="charlottesville">charlottesville</option>
        <option value="danville">danville</option>
        <option value="fredericksburg">fredericksburg</option>
        <option value="norfolk">hampton roads</option>
        <option value="harrisonburg">harrisonburg</option>
        <option value="lynchburg">lynchburg</option>
        <option value="blacksburg">new river valley</option>
        <option value="richmond">richmond</option>
        <option value="roanoke">roanoke</option>
        <option value="swva">southwest VA</option>
        <option value="winchester">winchester</option>
        <option value="bellingham">bellingham</option>
        <option value="kpr">kennewickpascorichland</option>
        <option value="moseslake">moses lake</option>
        <option value="olympic">olympic peninsula</option>
        <option value="pullman">pullman moscow</option>
        <option value="seattle">seattletacoma</option>
        <option value="skagit">skagit island SJI</option>
        <option value="spokane">spokane coeur dalene</option>
        <option value="wenatchee">wenatchee</option>
        <option value="yakima">yakima</option>
        <option value="charlestonwv">charleston</option>
        <option value="martinsburg">eastern panhandle</option>
        <option value="huntington">huntingtonashland</option>
        <option value="morgantown">morgantown</option>
        <option value="wheeling">northern panhandle</option>
        <option value="parkersburg">parkersburgmarietta</option>
        <option value="swv">southern WV</option>
        <option value="wv">west virginia old</option>
        <option value="appleton">appletonoshkoshFDL</option>
        <option value="eauclaire">eau claire</option>
        <option value="greenbay">green bay</option>
        <option value="janesville">janesville</option>
        <option value="racine">kenosharacine</option>
        <option value="lacrosse">la crosse</option>
        <option value="madison">madison</option>
        <option value="milwaukee">milwaukee</option>
        <option value="northernwi">northern WI</option>
        <option value="sheboygan">sheboygan</option>
        <option value="wausau">wausau</option>
        <option value="wyoming">wyoming</option>
        <option value="micronesia">guammicronesia</option>
        <option value="puertorico">puerto rico</option>
        <option value="virgin">US virgin islands</option>
    </select>

    <label for="category">Choose a category:</label>
    <select name="category" id="category">
        <option value="apa">apts housing</option>
        <option value="swp">housing swap</option>
        <option value="hsw">housing wanted</option>
        <option value="off">office commercial</option>
        <option value="prk">parking storage</option>
        <option value="rea">real estate for sale</option>
        <option value="roo">rooms shared</option>
        <option value="sha">rooms wanted</option>
        <option value="sub">sublets temporary</option>
        <option value="vac">vacation rentals</option>
        <option value="ata">antiques</option>
        <option value="ppa">appliances</option>
        <option value="ara">artscrafts</option>
        <option value="sna">atvutvsno</option>
        <option value="pta">auto parts</option>
        <option value="ava">aviation</option>
        <option value="baa">babykid</option>
        <option value="bar">barter</option>
        <option value="haa">beautyhlth</option>
        <option value="bip">bike parts</option>
        <option value="bia">bikes</option>
        <option value="bpa">boat parts</option>
        <option value="boo">boats</option>
        <option value="bka">books</option>
        <option value="bfa">business</option>
        <option value="cta">carstrucks</option>
        <option value="ema">cdsdvdvhs</option>
        <option value="moa">cell phones</option>
        <option value="cla">clothesacc</option>
        <option value="cba">collectibles</option>
        <option value="syp">computer parts</option>
        <option value="sya">computers</option>
        <option value="ela">electronics</option>
        <option value="gra">farmgarden</option>
        <option value="zip">free</option>
        <option value="fua">furniture</option>
        <option value="gms">garage sale</option>
        <option value="foa">general</option>
        <option value="hva">heavy equip</option>
        <option value="hsa">household</option>
        <option value="jwa">jewelry</option>
        <option value="maa">materials</option>
        <option value="mpa">motorcycle parts</option>
        <option value="mca">motorcycles</option>
        <option value="msa">music instr</option>
        <option value="pha">photovideo</option>
        <option value="rva">rvscamp</option>
        <option value="sga">sporting</option>
        <option value="tia">tickets</option>
        <option value="tla">tools</option>
        <option value="taa">toysgames</option>
        <option value="tra">trailers</option>
        <option value="vga">video gaming</option>
        <option value="waa">wanted</option>
        <option value="wta">wheelstires</option>
        <option value="act">activities</option>
        <option value="ats">artists</option>
        <option value="kid">childcare</option>
        <option value="cls">classes</option>
        <option value="eve">events</option>
        <option value="com">general</option>
        <option value="grp">groups</option>
        <option value="vnn">localnews</option>
        <option value="laf">lostfound</option>
        <option value="mis">missed connections</option>
        <option value="muc">musicians</option>
        <option value="pet">pets</option>
        <option value="pol">politics</option>
        <option value="rnr">rants amp raves</option>
        <option value="rid">rideshare</option>
        <option value="vol">volunteers</option>
        <option value="aos">automotive</option>
        <option value="bts">beauty</option>
        <option value="cms">cellmobile</option>
        <option value="cps">computer</option>
        <option value="crs">creative</option>
        <option value="cys">cycle</option>
        <option value="evs">event</option>
        <option value="fgs">farmgarden</option>
        <option value="fns">financial</option>
        <option value="hss">household</option>
        <option value="lbs">labormove</option>
        <option value="lgs">legal</option>
        <option value="lss">lessons</option>
        <option value="mas">marine</option>
        <option value="pas">pet</option>
        <option value="rts">real estate</option>
        <option value="sks">skilled trade</option>
        <option value="biz">sm biz ads</option>
        <option value="trv">travelvac</option>
        <option value="wet">writeedtran</option>
        <option value="acc">accountingfinance</option>
        <option value="ofc">admin office</option>
        <option value="egr">arch engineering</option>
        <option value="med">art media design</option>
        <option value="sci">biotech science</option>
        <option value="bus">business mgmt</option>
        <option value="csr">customer service</option>
        <option value="edu">education</option>
        <option value="etc">etc misc</option>
        <option value="fbh">food bev hosp</option>
        <option value="lab">general labor</option>
        <option value="gov">government</option>
        <option value="hum">human resources</option>
        <option value="lgl">legal paralegal</option>
        <option value="mnu">manufacturing</option>
        <option value="mar">marketing pr ad</option>
        <option value="hea">medical health</option>
        <option value="npo">nonprofit sector</option>
        <option value="rej">real estate</option>
        <option value="ret">retail wholesale</option>
        <option value="sls">sales biz dev</option>
        <option value="spa">salon spa fitness</option>
        <option value="sec">security</option>
        <option value="trd">skilled trade craft</option>
        <option value="sof">software qa dba</option>
        <option value="sad">systems network</option>
        <option value="tch">technical support</option>
        <option value="trp">transport</option>
        <option value="tfr">tv film video</option>
        <option value="web">web info design</option>
        <option value="wri">writing editing</option>
        <option value="cpg">computer</option>
        <option value="crg">creative</option>
        <option value="cwg">crew</option>
        <option value="dmg">domestic</option>
        <option value="evg">event</option>
        <option value="lbg">labor</option>
        <option value="tlg">talent</option>
        <option value="wrg">writing</option>
        <option value="rrr">resume</option>
    </select>
    <br><br>
    <input type="submit" value="Grab The Data">
</form>
{% endblock %}